@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
    list-style: none;
    text-decoration: none;
    color: gray;
}

/* .baner {
    background: url("../image/banner.webp");
    height: 400px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */

header {
    /* background-color: rgb(120, 71, 169); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .logo {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    cursor: pointer;

}

header .logo h3 {
    animation: colors 5s infinite;
}

@keyframes colors {
    0% {
        color: palevioletred;
    }

    50% {
        color: skyblue;
    }

    100% {
        color: royalblue;
    }
}

header .nav ul {
    width: 500px;
    display: flex;
    justify-content: space-around;

}

header .nav ul li {
    text-transform: capitalize;
    float: left;

}

header .nav ul .active {
    color: rgb(142, 5, 142);
}


header .nav ul li a {
    color: black;
    background-color: #e3e3e35e;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
}

header .nav ul li a:hover {
    color: rgb(142, 5, 142);

}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    margin-top: -150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;

}

.container .left {
    margin-top: -200px;
}

.container .left h1 {
    font-size: 50px;
}


.container .left p {
    transform: rotate(270deg);
    margin-top: 100px;
    margin-left: -20px;
    text-transform: uppercase;
}

.container .right {
    width: 300px;
    text-align: justify;
}

.image {
    margin-top: 280px;
    width: auto;
}